@model IEnumerable<Assignment1.Models.Manufacturers>

@{
    ViewData["Title"] = "Manufacturers";
}

<h2>Manufacturers</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Founded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Founded)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Manufacturer_ID">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Manufacturer_ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Manufacturer_ID">Delete</a>
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
